<div class="categ-container">
    <a href="/portable-scooters/">
        <div class="categ-col">
            <img src="https://cdn11.bigcommerce.com/s-b6salw7r81/product_images/uploaded_images/portable-scooter-categ.png" alt="">
            <div>
                <h2>Portable Scooters</h2>
                <p>Starts at <b>$699</b></p>
            </div>
        </div>
    </a>
    <a href="/mid-size-scooteres/">
    <div class="categ-col">
        <img src="https://cdn11.bigcommerce.com/s-b6salw7r81/product_images/uploaded_images/mid-size-scooter-categ.png" alt="">
        <div>
            <h2>Mid Size Scooters</h2>
            <p>Starts at <b>$720</b></p>
        </div>
    </div>
    </a>
    <a href="/recreational-scooters/">
    <div class="categ-col">
        <img src="https://cdn11.bigcommerce.com/s-b6salw7r81/product_images/uploaded_images/recreational-scooter-categ.png" alt="">
        <div>
            <h2>Recreational Scooters</h2>
            <p>Starts at <b>$749</b></p>
        </div>
    </div>
    </a>
    <a href="/power-chairs/">
    <div class="categ-col">
        <img src="https://cdn11.bigcommerce.com/s-b6salw7r81/product_images/uploaded_images/power-chairs-categ.png" alt="">
        <div>
            <h2>Power Chairs</h2>
            <p>Starts at <b>$459</b></p>
        </div>
    </div>
    </a>
    <a href="">
    <div class="categ-col">
        <img src="https://cdn11.bigcommerce.com/s-b6salw7r81/product_images/uploaded_images/e-bikes-category.png" alt="">
        <div>
            <h2>Electric Bikes</h2>
            <p>Starts at <b>$349</b></p>
        </div>
    </div>
    </a>
    <a href="">
    <div class="categ-col">
            <img src="https://cdn11.bigcommerce.com/s-b6salw7r81/product_images/uploaded_images/accessories-categ.png" alt="">
            <div>
                <h2>Accessories</h2>
                <p>Starts at <b>$19.99</b></p>
            </div>
        </div>
    </a>
</div>