/*Homepage*/
/* Header Section */

@import url('https://fonts.googleapis.com/css2?family=Almarai&family=Roboto&display=swap');

h1,h2,h3,h4,h5,h6,p{
    font-family: 'Roboto', sans-serif;
}

input:focus, button:focus, textarea:focus, select:focus, details:focus, [href]:focus, [tabindex]:not([tabindex="-1"]):focus, [contenteditable=true]:focus {
    outline: 2px solid transparent !important;
}

.carousel-play-pause-button {
    display: none !important;
}
.heroCarousel .slick-dots li {
    background-color: white;
    background-color: transparent;
}
.countPill.cart-quantity {
    background-color: #dd2424;
    position: absolute;
    top: 6px;
    right: 15px;
    border-radius: 20px;
    padding: 0 5px 6px 5px;
    text-align: center;
    color: #fff;
    font-size: 11px;
    width: 16px;
    height: 17px;
    line-height: 18px;

    @media screen and (max-width: 1366px){
        top: 6px;
        right: 6px;
    }
}
.navPages-container nav ul li .navPages-action {
    font-family: 'Roboto';
    text-transform: capitalize;
    font-size: 15px;
    font-weight: 400;
    padding: 0.7857142857rem 1.1428571429rem 0.5rem;
    @media screen and (max-width: 1425px){
        font-size: 13px;
    }
    @media screen and (max-width: 1024px){
        padding: 0.7857142857rem 0.4rem 0.5rem;
    }
}



@media screen and (min-width: 801px) {
.account-cart nav ul li {
        border-left: 1px solid #757575;
        @media screen and (max-width: 900px){
            border-left: 0;
        }
}
    
.account-cart nav ul li:last-child {
        border-right: 1px solid #757575;
        @media screen and (max-width: 900px){
            border-right: 0;
        }
}

.header-container{
    display: flex;
    justify-content: space-between;
    width: 81%;
    margin: 0px auto;
    padding: 0.6rem 0px 0px;

    @media screen and (max-width: 1160px){
        flex-wrap: wrap;
    }
    @media screen and (max-width: 1000px){
        width: 95%;
    }
    .header-logo {
        margin: 0;
        padding: 0;
        height: auto;
        width: auto;
    }
    .header-logo-image-unknown-size {
        max-width: 337px;

        @media screen and (max-width: 1425px) {
            max-width: 300px;
        }
        @media screen and (max-width: 992px) {
            max-width: 259px;
        }
    }
    .custom-qsearch .form-input {
        border-color: #1b138c;
        border-radius: 25px;
        height: 3.5rem;
        padding: 0.75rem 2rem;
        background-image: url("https://cdn11.bigcommerce.com/s-b6salw7r81/product_images/uploaded_images/search-icon.png");
        background-position: right 1rem center;
        background-repeat: no-repeat;
        @media screen and (max-width: 1425px) {
            height: 3rem;
        }
    }
    .form-field {
        margin: 1.5rem 0 0rem;
        @media screen and (max-width: 1024px) {
            margin-top: 1rem;
        }
    }
    .custom-qsearch {
        width: 33%;
        @media screen and (max-width: 1480px) {
            width: auto;
        }
        @media screen and (max-width: 1425px) {
            width: 35%;
        }
        @media screen and (max-width: 1160px) {
            width: 50%;
            margin: 0 auto;

        }
    }
    .custom-qsearch .container{
        padding: 0 2rem 0 3.5rem;
    }
    .telnav-container {
        width: auto;
        margin-top: 0.5rem;
        @media screen and (max-width: 1425px) {
            margin-top: 0;
        }
        @media screen and (max-width: 1160px) {
            margin: 0 auto;
        }
        @media screen and (max-width: 800px) {
            display: none !important;
        }

    }
}
.navUser{
    display: none;
}
.account-cart {
    align-items: center;
    display: flex;
}
.account-cart .navUser {
    display: inline-block;
    @media screen and (max-width: 1366px) {
        padding: 0;
    }
}



.nav-container {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 83.5%;
    align-items: center;

    @media screen and (max-width: 1160px) {
        width: 90%;
    }
}
.navParent-container {
    background: #1b138c;
}
nav.navUser .navUser-item a {
    color: #fff;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    padding: 1rem 2rem;

    @media screen and (max-width: 1425px) {
        font-size: 13px;
        padding: 0.8rem;
    }
    @media screen and (max-width: 1160px) {
        padding: 1rem 0.4;
    }
}
.navUser-or{
    color: #fff;
}
}


.telnav-container{
    .talk-div-container{
        display: flex;
        align-items: center;
    }
    .text-img-content {
        display: flex;
        align-items: center;
        text-align: center;
    }
    .text-img-content img{
        max-width: 85px;
        width: 100%;
    }
    .text-img-content div {
        line-height: 1.2;
        margin-top: 3px;
    }
    .text-img-content p {
        margin-bottom: 0;
        color: #5b79c4;
        font-size: 13px;
        font-weight: bold;
    }
    .text-img-content h2 {
        margin-top: 0;
        color: #1b138c;
        @media screen and (max-width: 1480px) {
            font-size: 20px;
        }
    }
    .schedule-content{
        margin-top: -10px;
        margin-left: 8px;
    }
    .schedule-content p {
        margin: 0;
        line-height: 1.1;
        font-size: 12px;
        color: #666666;
    }
    
}

.blue-font{
    color: #5b79c4;
}

.navPages-container {
    background: #1b138c;
    nav ul li {
        .navPages-action {
            color: #fff;
        }
    }
}

// Homepage Content
.home-body{
    background: #e5e5e5;
    margin-bottom: 0;
    .productGrid{
        margin-bottom: 0;
        margin: 0px -1.25rem 1.5rem;
    }
}
@media screen and (max-width: 800px) {
    .custom-qsearch {
        display: none;
    }
    .telnav-container{
        display: none !important;
    }
}
@media screen and (min-width: 801px) {
    .home-body .container {
        max-width: 80%;
        padding: 0;
    }    
    .heroCarousel-slide .heroCarousel-image-wrapper {
        height: 24.25vw;
    }
}
// Carousel
@media screen and (min-width: 501px) {
    .heroCarousel-slide .heroCarousel-image {
        object-position: top;
    }
}

// Custom Category
.categ-content {
    width: 99%;
    margin: 0 auto;
}
.categ-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;

    @media screen and (max-width: 800px) {
        grid-template-columns: repeat(2, 1fr);
    }
    @media screen and (max-width: 480px) {
        grid-template-columns: repeat(1, 1fr);
    }

    .categ-col div {
        background: #333333;
        text-align: center;
        color: #fff;
        padding: 1rem;
        
        &:hover{
                background: #1b138c;
                color: #ffffff;
        }
    }

    a {
        text-decoration: none;
        &:hover{
            text-decoration: none;
        }
    }

    .categ-col div h2 {
        color: #fff;
        margin: 0;

        @media screen and (max-width: 1080px) {
            font-size: 20px;
        }
        @media screen and (max-width: 937px) {
            font-size: 18px;
        }
    }
    .categ-col div p {
        margin: 0;
        font-size: 18px;
        @media screen and (max-width: 937px) {
            font-size: 16px;
        }
    }
    .categ-col img{
        width: 100%;
    }
}
.top-seller h2 {
    color: #333333;
    font-size: 36px;
    margin: 3.5rem 0;
    font-weight: 800;
}

// Best Seller Section
.home-body .productGrid {
    display: flex;
    flex-flow: row wrap;
    @media screen and (min-width: 801px) {
        justify-content: space-between;
    }
    @media screen and (max-width: 800px) {
        row-gap: 1rem;
    }
}

.home-body .productGrid li {
    background: #fff;
    border-bottom: 3px solid #ff2400;
    padding-bottom: 1.5rem;

    @media screen and (min-width: 801px) {
        width: 23%;
    }
    @media screen and (max-width: 800px) {
        width: 48%;
        margin: 0 auto;
    }
}
.home-body .productGrid li .card {
    margin-bottom: 0;

}
// LI Card BOdy
.card-body {
    text-align: center;
}
.card-title > a {
    color: #222222;
    font-size: 18px;
    font-family: 'Roboto';
}
.card-title {
    margin: 0 0 1rem;
}
p.card-text {
    color: #aaaaaa;
}
.price-section.price-section--withoutTax {
    font-family: 'Roboto';
}
span.price.price--withoutTax {
    color: #1b138c;
    font-size: 28px;
    font-weight: bold;
}

// Footer
.need-help {
    background: #333333;
    color: #fff;
    display: flex;
    text-align: center;
    padding: 2rem 0;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: 837px) {
            padding: 2rem 2rem;
            flex-direction: column;
            row-gap: 1rem;
    }
}
.need-help h4 {
    margin: 0;
    color: #fff;
}
.need-help a {
    display: inline-block;
    color: #fff;
    background: red;
    padding: 1rem 2.5rem;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    margin-left: 1rem;
}
.footer-copyright {
    padding: 1rem 0;
    background: #e5e5e5;
}
.footer-copyright .powered-by {
    text-align: center;
    font-size: 15px;
    font-weight: bold;
}
.footer {
    padding: 3rem 0 0;
}
footer.footer .container {
    padding: 0;
    max-width: 85%;
}

.spacing-bottom {
    height: 80px;
}

ul.footer-info-list .labelname {
    text-transform: uppercase;
    color: #00001f;
    font-weight: bold;
}
ul.footer-info-list li {
    margin-left: 1rem;
}

.footer-info-heading {
    font-size: 20px;
    text-transform: uppercase;
    border-bottom: 1px solid #aaaaaa;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    font-family: 'Roboto';
}
ul.footer-info-list li {
    margin-left: 1rem;
    font-size: 14px;
    color: #333333;
    font-family: 'Roboto';
}

@media screen and (min-width: 551px) {
    .footer-info-list {
        list-style: disc;
        margin-left: 0;
    }
}
@media screen and (min-width: 801px) {
    section.footer-info article {
        width: 25%;
    }
    .account-cart .navUser ul li a img.desk-show{
        display: inline;
    }
    
    .account-cart .navUser ul li a img.mob-show{
        display: none;
    }
}

@media screen and (max-width: 800px) {
    .account-cart .navUser ul li a img.desk-show{
        display: none;
    }
    
    .account-cart .navUser ul li a img.mob-show{
        display: inline;
    }

}


